@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* epigraph styling */
section > header{
	text-align: center;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

/* poetry styling */

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
